* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    background: #7692af;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    padding: 40px 60px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Weather Result Styles */
#weatherResult {
    margin-top: 20px;
}

#weatherResult h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #007bff;
}

#weatherResult p {
    font-size: 16px;
    margin: 5px 0;
}

#weatherResult strong {
    color: #333;
}